In [1]:
import pandas as pd

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect(r"C:\Users\DELL\Downloads\chinook.db")

In [4]:
cur = conn.cursor()

In [5]:
cur.execute('SELECT * FROM EMPLOYEES LIMIT 5;')

In [6]:
results = cur.fetchall()
results

[(1,
  'Adams',
  'Andrew',
  'General Manager',
  None,
  '1962-02-18 00:00:00',
  '2002-08-14 00:00:00',
  '11120 Jasper Ave NW',
  'Edmonton',
  'AB',
  'Canada',
  'T5K 2N1',
  '+1 (780) 428-9482',
  '+1 (780) 428-3457',
  'andrew@chinookcorp.com'),
 (2,
  'Edwards',
  'Nancy',
  'Sales Manager',
  1,
  '1958-12-08 00:00:00',
  '2002-05-01 00:00:00',
  '825 8 Ave SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 2T3',
  '+1 (403) 262-3443',
  '+1 (403) 262-3322',
  'nancy@chinookcorp.com'),
 (3,
  'Peacock',
  'Jane',
  'Sales Support Agent',
  2,
  '1973-08-29 00:00:00',
  '2002-04-01 00:00:00',
  '1111 6 Ave SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 5M5',
  '+1 (403) 262-3443',
  '+1 (403) 262-6712',
  'jane@chinookcorp.com'),
 (4,
  'Park',
  'Margaret',
  'Sales Support Agent',
  2,
  '1947-09-19 00:00:00',
  '2003-05-03 00:00:00',
  '683 10 Street SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 5G3',
  '+1 (403) 263-4423',
  '+1 (403) 263-4289',
  'margaret@chinookcorp.com'),
 (5,
  'Johnson',
  'Steve',
  'Sales Support Agent',
  2,
  '1965-03-03 00:00:00',
  '2003-10-17 00:00:00',
  '7727B 41 Ave',
  'Calgary',
  'AB',
  'Canada',
  'T3B 1Y7',
  '1 (780) 836-9987',
  '1 (780) 836-9543',
  'steve@chinookcorp.com')]

In [7]:
df = pd.DataFrame(results)

In [8]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

In [9]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

In [10]:
df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

In [11]:
cur.close()
conn.close()

In [12]:
conn = sqlite3.connect(r"C:\Users\DELL\Downloads\chinook.db")

In [13]:
pd.read_sql('SELECT * FROM EMPLOYEES',conn)

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

In [14]:
pd.read_sql('SELECT * FROM EMPLOYEES;',conn, index_col = 'EmployeeId', parse_dates = ['BirthDate','HireDate'])

,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
EmployeeId,,,,,,,,,,,,,,
1,Adams,Andrew,General Manager,NaN,1962-02-18,2002-08-14,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
2,Edwards,Nancy,Sales Manager,1.0,1958-12-08,2002-05-01,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29,2002-04-01,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
4,Park,Margaret,Sales Support Agent,2.0,1947-09-19,2003-05-03,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03,2003-10-17,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
6,Mitchell,Michael,IT Manager,1.0,1973-07-01,2003-10-17,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
7,King,Robert,IT Staff,6.0,1970-05-29,2004-01-02,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
8,Callahan,Laura,IT Staff,6.0,1968-01-09,2004-03-04,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

In [15]:
df.info

<bound method DataFrame.info of    0        1         2                    3    4                    5   \
0   1    Adams    Andrew      General Manager  NaN  1962-02-18 00:00:00
1   2  Edwards     Nancy        Sales Manager  1.0  1958-12-08 00:00:00
2   3  Peacock      Jane  Sales Support Agent  2.0  1973-08-29 00:00:00
3   4     Park  Margaret  Sales Support Agent  2.0  1947-09-19 00:00:00
4   5  Johnson     Steve  Sales Support Agent  2.0  1965-03-03 00:00:00

                    6                    7         8   9       10       11  \
0  2002-08-14 00:00:00  11120 Jasper Ave NW  Edmonton  AB  Canada  T5K 2N1
1  2002-05-01 00:00:00         825 8 Ave SW   Calgary  AB  Canada  T2P 2T3
2  2002-04-01 00:00:00        1111 6 Ave SW   Calgary  AB  Canada  T2P 5M5
3  2003-05-03 00:00:00     683 10 Street SW   Calgary  AB  Canada  T2P 5G3
4  2003-10-17 00:00:00         7727B 41 Ave   Calgary  AB  Canada  T3B 1Y7

                  12                 13                        14
0  +1 (780) 428-9482  +1 (780) 428-3457    andrew@chinookcorp.com
1  +1 (403) 262-3443  +1 (403) 262-3322     nancy@chinookcorp.com
2  +1 (403) 262-3443  +1 (403) 262-6712      jane@chinookcorp.com
3  +1 (403) 263-4423  +1 (403) 263-4289  margaret@chinookcorp.com
4   1 (780) 836-9987   1 (780) 836-9543     steve@chinookcorp.com  >

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      int64
 1   1       5 non-null      object
 2   2       5 non-null      object
 3   3       5 non-null      object
 4   4       4 non-null      float64
 5   5       5 non-null      object
 6   6       5 non-null      object
 7   7       5 non-null      object
 8   8       5 non-null      object
 9   9       5 non-null      object
 10  10      5 non-null      object
 11  11      5 non-null      object
 12  12      5 non-null      object
 13  13      5 non-null      object
 14  14      5 non-null      object
dtypes: float64(1), int64(1), object(13)
memory usage: 732.0+ bytes

In [17]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

In [18]:
DF = pd.read_sql('SELECT * FROM EMPLOYEES;',conn, index_col = 'EmployeeId', parse_dates = ['BirthDate','HireDate'])

In [19]:
DF['ReportsTo'].isna().sum()

1

In [20]:
DF['ReportsTo'].mean()

2.857142857142857

In [21]:
DF['ReportsTo'] > 1.75

EmployeeId
1    False
2    False
3     True
4     True
5     True
6    False
7     True
8     True
Name: ReportsTo, dtype: bool

In [22]:
DF[DF['ReportsTo'] > 1.75]

,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
EmployeeId,,,,,,,,,,,,,,
3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29,2002-04-01,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
4,Park,Margaret,Sales Support Agent,2.0,1947-09-19,2003-05-03,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03,2003-10-17,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
7,King,Robert,IT Staff,6.0,1970-05-29,2004-01-02,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
8,Callahan,Laura,IT Staff,6.0,1968-01-09,2004-03-04,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

In [23]:
#Pandas read_sql_query method

In [24]:
conn = sqlite3.connect(r"C:\Users\DELL\Downloads\chinook.db")

In [25]:
Df = pd.read_sql_query('SELECT * FROM EMPLOYEES LIMIT 5;', conn)

In [26]:
Df.head()

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

In [27]:
Df = pd.read_sql_query('SELECT * FROM Employees;', conn, index_col = 'EmployeeId', parse_dates = ['BirthDate','HireDate'])
Df

,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
EmployeeId,,,,,,,,,,,,,,
1,Adams,Andrew,General Manager,NaN,1962-02-18,2002-08-14,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
2,Edwards,Nancy,Sales Manager,1.0,1958-12-08,2002-05-01,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29,2002-04-01,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
4,Park,Margaret,Sales Support Agent,2.0,1947-09-19,2003-05-03,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03,2003-10-17,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
6,Mitchell,Michael,IT Manager,1.0,1973-07-01,2003-10-17,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
7,King,Robert,IT Staff,6.0,1970-05-29,2004-01-02,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
8,Callahan,Laura,IT Staff,6.0,1968-01-09,2004-03-04,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

In [28]:
#Read sql_table

In [29]:
from sqlalchemy import create_engine

In [30]:
engine = create_engine("sqlite:///C:/Users/DELL/Downloads/chinook.db")
connection = engine.connect() #create a connection object

In [31]:
#Creating Tables From DataFrame Objects

In [32]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

In [33]:
df.to_sql?

In [34]:
#Reading html tables

In [35]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\dell\anaconda3\lib\site-packages (4.9.3)

In [36]:
import pandas as pd

In [37]:
html_string = """<table>
    <thead>
      <tr>
        <th>Order date</th>
        <th>Region</th> 
        <th>Item</th>
        <th>Units</th>
        <th>Unit cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1/6/2018</td>
        <td>East</td> 
        <td>Pencil</td>
        <td>95</td>
        <td>1.99</td>
      </tr>
      <tr>
        <td>1/23/2018</td>
        <td>Central</td> 
        <td>Binder</td>
        <td>50</td>
        <td>19.99</td>
      </tr>
      <tr>
        <td>2/9/2018</td>
        <td>Central</td> 
        <td>Pencil</td>
        <td>36</td>
        <td>4.99</td>
      </tr>
      <tr>
        <td>3/15/2018</td>
        <td>West</td> 
        <td>Pen</td>
        <td>27</td>
        <td>19.99</td>
      </tr>
    </tbody>
</table>
"""

In [38]:
dfs = pd.read_html(html_string)

C:\Users\DELL\AppData\Local\Temp\ipykernel_7324\2234146965.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dfs = pd.read_html(html_string)

In [39]:
len(dfs)

1

In [40]:
df = dfs[0]
df

  Order date   Region    Item  Units  Unit cost
0   1/6/2018     East  Pencil     95       1.99
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99
3  3/15/2018     West     Pen     27      19.99

In [41]:
df.head()

  Order date   Region    Item  Units  Unit cost
0   1/6/2018     East  Pencil     95       1.99
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99
3  3/15/2018     West     Pen     27      19.99

In [42]:
df.shape

(4, 5)

In [43]:
df.loc[df['Region'] == 'Central']

  Order date   Region    Item  Units  Unit cost
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99

In [44]:
df.loc[df['Units'] > 35]

  Order date   Region    Item  Units  Unit cost
0   1/6/2018     East  Pencil     95       1.99
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99

In [45]:
pd.read_html(html_string, header = [0])[0]

C:\Users\DELL\AppData\Local\Temp\ipykernel_7324\4123958651.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_html(html_string, header = [0])[0]

  Order date   Region    Item  Units  Unit cost
0   1/6/2018     East  Pencil     95       1.99
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99
3  3/15/2018     West     Pen     27      19.99

In [46]:
#parsing HTML tables from the web
html_url = "https://www.basketball-reference.com/leagues/NBA_2019_per_game.html"

In [47]:
nba_tables = pd.read_html(html_url)

In [48]:
len (nba_tables)

1

In [49]:
nba = nba_tables[0]

In [50]:
nba.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,...,.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,...,.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,3,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,...,.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,4,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,...,.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,5,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,...,.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9

In [51]:
import requests
html_url = "https://en.wikipedia.org/wiki/The_Simpsons"

In [52]:
r = requests.get(html_url)
wiki_tables = pd.read_html(r.text, header = 0)
wiki_tables

C:\Users\DELL\AppData\Local\Temp\ipykernel_7324\2382173291.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  wiki_tables = pd.read_html(r.text, header = 0)

[            The Simpsons                                     The Simpsons.1
 0                    NaN                                                NaN
 1                  Genre                             Animated sitcom Satire
 2             Created by                                      Matt Groening
 3               Based on               The Simpsons shorts by Matt Groening
 4           Developed by            James L. Brooks Matt Groening Sam Simon
 5              Voices of  Dan Castellaneta Julie Kavner Nancy Cartwright...
 6   Theme music composer                                       Danny Elfman
 7          Opening theme                               "The Simpsons Theme"
 8           Ending theme                               "The Simpsons Theme"
 9              Composers  Richard Gibbs (1989–1990) Alf Clausen (1990–20...
 10     Country of origin                                      United States
 11     Original language                                            English
 12        No. of seasons                                                 35
 13       No. of episodes                             765 (list of episodes)
 14            Production                                         Production
 15   Executive producers  List  James L. Brooks  Matt Groening  Al Jean ...
 16             Producers  Bonita Pietila Richard Raynis Richard Sakai De...
 17               Editors                         Don Barrozo Michael Bridge
 18          Running time                                      21–24 minutes
 19  Production companies  Gracie Films 20th Television[a] (seasons 1–32)...
 20      Original release                                   Original release
 21               Network                                                Fox
 22               Release                        December 17, 1989 – present,
                                         Cast members  \
 0                                                NaN
 1                                   Dan Castellaneta
 2  Homer Simpson, Abe Simpson, Krusty the Clown, ...

                                       Cast members.1  \
 0                                                NaN
 1                                       Julie Kavner
 2  Marge Simpson, Patty and Selma Bouvier, additi...

                                      Cast members.2  Cast members.3  \
 0                                               NaN             NaN
 1                                  Nancy Cartwright  Yeardley Smith
 2  Bart Simpson, Maggie Simpson, various characters    Lisa Simpson

                                       Cast members.4  \
 0                                                NaN
 1                                        Hank Azaria
 2  Moe Szyslak, Chief Wiggum, Apu Nahasapeemapeti...

                                       Cast members.5  Cast members.6  \
 0                                                NaN             NaN
 1                                      Harry Shearer             NaN
 2  Ned Flanders, Mr. Burns, Dr. Hibbert (1990–202...             NaN

    Cast members.7  Cast members.8
 0             NaN             NaN
 1             NaN             NaN
 2             NaN             NaN  ,
     Season   Season.1  No. of episodes    Originally aired Originally aired.1  \
 0   Season     Season  No. of episodes     Season premiere      Season finale
 1   Season     Season  No. of episodes     Season premiere      Season finale
 2        1    1989–90               13   December 17, 1989       May 13, 1990
 3        2    1990–91               22    October 11, 1990      July 11, 1991
 4        3    1991–92               24  September 19, 1991    August 27, 1992
 5        4    1992–93               22  September 24, 1992       May 13, 1993
 6        5    1993–94               22  September 30, 1993       May 19, 1994
 7        6    1994–95               25   September 4, 1994       May 21, 1995
 8        7    1995–96               25  September 17, 1995       May 19, 1996
 9        8    1996–97               25    October 27, 1996       May 18, 1997
 10       9    1997–98               25  September 21, 1997       May 17, 1998
 11      10    1998–99               23     August 23, 1998       May 16, 1999
 12      11  1999–2000               22  September 26, 1999       May 21, 2000
 13      12    2000–01               21    November 1, 2000       May 20, 2001
 14      13    2001–02               22    November 6, 2001       May 22, 2002
 15      14    2002–03               22    November 3, 2002       May 18, 2003
 16      15    2003–04               22    November 2, 2003       May 23, 2004
 17      16    2004–05               21    November 7, 2004       May 15, 2005
 18      17    2005–06               22  September 11, 2005       May 21, 2006
 19      18    2006–07               22  September 10, 2006       May 20, 2007
 20      19    2007–08               20  September 23, 2007       May 18, 2008
 21      20    2008–09               21  September 28, 2008       May 17, 2009
 22      21    2009–10               23  September 27, 2009       May 23, 2010
 23      22    2010–11               22  September 26, 2010       May 22, 2011
 24      23    2011–12               22  September 25, 2011       May 20, 2012
 25      24    2012–13               22  September 30, 2012       May 19, 2013
 26      25    2013–14               22  September 29, 2013       May 18, 2014
 27      26    2014–15               22  September 28, 2014       May 17, 2015
 28      27    2015–16               22  September 27, 2015       May 22, 2016
 29      28    2016–17               22  September 25, 2016       May 21, 2017
 30      29    2017–18               21     October 1, 2017       May 20, 2018
 31      30    2018–19               23  September 30, 2018       May 12, 2019
 32      31    2019–20               22  September 29, 2019       May 17, 2020
 33      32    2020–21               22  September 27, 2020       May 23, 2021
 34      33    2021–22               22  September 26, 2021       May 22, 2022
 35      34    2022–23               22  September 25, 2022       May 21, 2023
 36      35    2023–24          18[214]     October 1, 2023  May 19, 2024[215]

                                    Originally aired.2  \
 0                                      Time slot (ET)
 1                                      Time slot (ET)
 2                                      Sunday 8:30 pm
 3                                    Thursday 8:00 pm
 4                                    Thursday 8:00 pm
 5                                    Thursday 8:00 pm
 6                                    Thursday 8:00 pm
 7                                      Sunday 8:00 pm
 8   Sunday 8:00 pm (Episodes 1–24) Sunday 8:30 pm ...
 9   Sunday 8:30 pm (Episodes 1–3) Sunday 8:00 pm (...
 10                                     Sunday 8:00 pm
 11                                     Sunday 8:00 pm
 12                                     Sunday 8:00 pm
 13                                     Sunday 8:00 pm
 14  Tuesday 8:30 pm (Episode 1) Sunday 8:00 pm (Ep...
 15  Sunday 8:00 pm (Episodes 1–11, 13–21) Sunday 8...
 16                                     Sunday 8:00 pm
 17  Sunday 8:00 pm (Episodes 1–7, 9–16, 18, 20) Su...
 18                                     Sunday 8:00 pm
 19                                     Sunday 8:00 pm
 20                                     Sunday 8:00 pm
 21  Sunday 8:00 pm (Episodes 1–7, 9–21) Sunday 8:3...
 22                                     Sunday 8:00 pm
 23                                     Sunday 8:00 pm
 24                                     Sunday 8:00 pm
 25  Sunday 8:00 pm (Episodes 1–21) Sunday 8:30 pm ...
 26  Sunday 8:00 pm (Episodes 1–11, 13–22) Sunday 7...
 27                                     Sunday 8:00 pm
 28                                     Sunday 8:00 pm
 29                                     Sunday 8:00 pm
 30                                     Sunday 8:00 pm
 31                                     Sunday 8:00 pm
 32                                     Sunday 8:00 pm
 33  Sunday 8:00 pm (Episodes 1–10, 12–22) Sunday 9...
 34  Sunday 8:00 pm (Episodes 1–10, 12–22) Sunday 9...
 35  Sunday 8:00 pm (Episodes 1–8, 10–22) Sunday 8:...
 36  Sunday 8:00 pm (Episodes 1–5, 7, 10–present) S...

                     Viewership          Viewership.1  \
 0   Avg. viewers (in millions)  Most watched episode
 1   Avg. viewers (in millions)    Viewers (millions)
 2                         27.8             33.5[167]
 3                         24.4             33.6[168]
 4                         21.8             25.5[169]
 5                         22.4             28.6[170]
 6                         18.9             24.0[171]
 7                         15.6             22.2[172]
 8                         15.1             22.6[173]
 9                         14.5            20.41[175]
 10                        15.3            19.80[176]
 11                        13.5            19.11[177]
 12                         8.8            19.16[178]
 13                        15.5            18.52[179]
 14                        12.5            14.91[180]
 15                        14.4            22.04[181]
 16                        11.0            16.30[182]
 17                        10.2            23.07[183]
 18                        9.55            11.66[184]
 19                        9.15            11.63[185]
 20                        8.37            11.74[186]
 21                         7.1            12.40[187]
 22                         7.1            14.62[188]
 23                        7.09            12.55[189]
 24                   6.15[190]            11.48[191]
 25                   5.41[192]             8.97[193]
 26                   5.02[194]            12.04[195]
 27                   5.61[196]            10.62[197]
 28                    4.0[198]             8.33[199]
 29                   4.80[200]             8.19[201]
 30                   4.07[202]             8.04[203]
 31                   3.10[204]             8.20[205]
 32                   2.58[206]             5.63[207]
 33                   2.32[208]             4.93[209]
 34                   2.25[210]             3.97[211]
 35                   1.83[212]             4.77[213]
 36                         TBA                   TBA

                                     Viewership.2
 0                           Most watched episode
 1                                  Episode title
 2                        "Life on the Fast Lane"
 3                             "Bart Gets an 'F'"
 4                                "Colonel Homer"
 5                            "Lisa's First Word"
 6                       "Treehouse of Horror IV"
 7                        "Treehouse of Horror V"
 8                "Who Shot Mr. Burns? – Part II"
 9                        "The Springfield Files"
 10            "The Two Mrs. Nahasapeemapetilons"
 11                       "Sunday, Cruddy Sunday"
 12                                   "Faith Off"
 13                                        "HOMR"
 14                              "The Parent Rap"
 15               "I'm Spelling as Fast as I Can"
 16                      "I, (Annoyed Grunt)-Bot"
 17              "Homer and Ned's Hail Mary Pass"
 18                     "Treehouse of Horror XVI"
 19  "The Mook, the Chef, the Wife and Her Homer"
 20                   "Treehouse of Horror XVIII"
 21                     "Treehouse of Horror XIX"
 22             "Once Upon a Time in Springfield"
 23                     "Moms I'd Like to Forget"
 24                       "The D'oh-cial Network"
 25                   "Homer Goes to Prep School"
 26                          "Steal This Episode"
 27               "The Man Who Came to Be Dinner"
 28          "Teenage Mutant Milk-Caused Hurdles"
 29                              "Pork and Burns"
 30                            "Frink Gets Testy"
 31                         "The Girl on the Bus"
 32                          "Go Big or Go Homer"
 33                    "Treehouse of Horror XXXI"
 34                "Portrait of a Lackey on Fire"
 35                      "From Beer to Paternity"
 36                                           TBA  ,
                                       vteThe Simpsons  \
 0                      The Simpsons franchise History
 1                                               Media
 2                                            Episodes
 3                                             Seasons
 4                                              Shorts
 5   1980s shorts from The Tracey Ullman Show "Good...
 6                                      Disney+ shorts
 7                                         Theme parks
 8                                              Others
 9                                          Characters
 10                       Simpson family and relatives
 11                                          Recurring
 12                                         Production
 13                                          Hallmarks
 14                                          Locations
 15                                             Themes
 16                                     Inspired works
 17                                            Related
 18                                   Portal  Category

                                     vteThe Simpsons.1
 0                      The Simpsons franchise History
 1   Episodes Seasons 1–20 Season 21–present Season...
 2                      Seasons 1–20 Season 21–present
 3   1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...
 4   1980s shorts from The Tracey Ullman Show "Good...
 5   1980s shorts from The Tracey Ullman Show "Good...
 6   The Force Awakens from Its Nap (2021) The Good...
 7   Springfield Florida Hollywood The Simpsons Rid...
 8   Video games Books Comics Discography The Simps...
 9   Simpson family and relatives Homer Simpson Mar...
 10  Homer Simpson Marge Simpson Bart Simpson Lisa ...
 11  Sideshow Bob Kent Brockman Mr. Burns Comic Boo...
 12  Matt Groening Cast members Directors Writers G...
 13  Opening sequence Main title theme The Itchy & ...
 14         Springfield The Simpsons house Kwik-E-Mart
 15                            Media Politics Religion
 16  Bibliography Mr. Burns, a Post-Electric Play M...
 17  alt.tv.simpsons Animation Domination Awards an...
 18                                   Portal  Category  ,
                                             Episodes  \
 0                                            Seasons
 1                                             Shorts
 2  1980s shorts from The Tracey Ullman Show "Good...
 3                                     Disney+ shorts
 4                                        Theme parks
 5                                             Others

                       Seasons 1–20 Season 21–present
 0  1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...
 1  1980s shorts from The Tracey Ullman Show "Good...
 2  1980s shorts from The Tracey Ullman Show "Good...
 3  The Force Awakens from Its Nap (2021) The Good...
 4  Springfield Florida Hollywood The Simpsons Rid...
 5  Video games Books Comics Discography The Simps...  ,
   1980s shorts from The Tracey Ullman Show "Good Night" The Longest Daycare (2012) Playdate with Destiny (2020) The Simpsons | Balenciaga (2021) Te Deseo Lo Mejor (2021)  \
 0                                     Disney+ shorts

   1980s shorts from The Tracey Ullman Show "Good Night" The Longest Daycare (2012) Playdate with Destiny (2020) The Simpsons | Balenciaga (2021) Te Deseo Lo Mejor (2021).1
 0  The Force Awakens from Its Nap (2021) The Good...                                                                                                                         ,
   Simpson family and relatives  \
 0                    Recurring

   Homer Simpson Marge Simpson Bart Simpson Lisa Simpson Maggie Simpson Grampa Simpson Patty and Selma Bouvier Mona Simpson Santa's Little Helper
 0  Sideshow Bob Kent Brockman Mr. Burns Comic Boo...                                                                                              ,
                                 The Simpsons episodes  \
 0   vteThe Simpsons episodes Seasons 1–20 1 2 3 4 ...
 1                            vteThe Simpsons episodes
 2   Seasons 1–20 1 2 3 4 5 6 7 8 9 10 11 12 13 14 ...
 3                                     Themed episodes
 4                                            See also
 5                                            Category
 6               vteThe Simpsons Sideshow Bob episodes
 7                                   Major appearances
 8                                   Minor appearances
 9                  vteThe Simpsons Christmas episodes
 10                                              1980s
 11                                              1990s
 12                                              2000s
 13                                              2010s
 14                                              2020s
 15                                           See also
 16                vteThe Simpsons Treehouse of Horror
 17                                           Episodes
 18                                           See also
 19                                           Category

                               The Simpsons episodes.1
 0   vteThe Simpsons episodes Seasons 1–20 1 2 3 4 ...
 1                            vteThe Simpsons episodes
 2   Seasons 1–20 1 2 3 4 5 6 7 8 9 10 11 12 13 14 ...
 3                            Treehouse of Horror list
 4      The Simpsons episode guides "The Simpsons Guy"
 5                                            Category
 6               vteThe Simpsons Sideshow Bob episodes
 7   "Krusty Gets Busted" "Black Widower" "Cape Fea...
 8   "The Telltale Head" "Lisa's First Word" "Sex, ...
 9                  vteThe Simpsons Christmas episodes
 10         "Simpsons Roasting on an Open Fire" (1989)
 11  "Marge Be Not Proud" (1995) "Miracle on Evergr...
 12  "Lisa the Tree Hugger" (2000) "Skinner's Sense...
 13  "The Fight Before Christmas" (2010) "Holidays ...
 14  "The Way of the Dog" (2020) "A Springfield Sum...
 15  "Simpson Xmas", a 1988 short from The Tracey U...
 16                vteThe Simpsons Treehouse of Horror
 17  I II III IV V VI VII VIII IX X XI XII XIII XIV...
 18  "Halloween of Horror" "Thanksgiving of Horror"...
 19                                           Category  ,
                             vteThe Simpsons episodes  \
 0  Seasons 1–20 1 2 3 4 5 6 7 8 9 10 11 12 13 14 ...
 1                                    Themed episodes
 2                                           See also
 3                                           Category

                           vteThe Simpsons episodes.1
 0  Seasons 1–20 1 2 3 4 5 6 7 8 9 10 11 12 13 14 ...
 1                           Treehouse of Horror list
 2     The Simpsons episode guides "The Simpsons Guy"
 3                                           Category  ,
   vteThe Simpsons Sideshow Bob episodes  \
 0                     Major appearances
 1                     Minor appearances

              vteThe Simpsons Sideshow Bob episodes.1
 0  "Krusty Gets Busted" "Black Widower" "Cape Fea...
 1  "The Telltale Head" "Lisa's First Word" "Sex, ...  ,
   vteThe Simpsons Christmas episodes  \
 0                              1980s
 1                              1990s
 2                              2000s
 3                              2010s
 4                              2020s
 5                           See also

                 vteThe Simpsons Christmas episodes.1
 0         "Simpsons Roasting on an Open Fire" (1989)
 1  "Marge Be Not Proud" (1995) "Miracle on Evergr...
 2  "Lisa the Tree Hugger" (2000) "Skinner's Sense...
 3  "The Fight Before Christmas" (2010) "Holidays ...
 4  "The Way of the Dog" (2020) "A Springfield Sum...
 5  "Simpson Xmas", a 1988 short from The Tracey U...  ,

In [53]:
len(wiki_tables)

47

In [54]:
simpsons = wiki_tables[1]

In [55]:
simpsons.head()

,Cast members,Cast members.1,Cast members.2,Cast members.3,Cast members.4,Cast members.5,Cast members.6,Cast members.7,Cast members.8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Dan Castellaneta,Julie Kavner,Nancy Cartwright,Yeardley Smith,Hank Azaria,Harry Shearer,NaN,NaN,NaN
2,"Homer Simpson, Abe Simpson, Krusty the Clown, ...","Marge Simpson, Patty and Selma Bouvier, additi...","Bart Simpson, Maggie Simpson, various characters",Lisa Simpson,"Moe Szyslak, Chief Wiggum, Apu Nahasapeemapeti...","Ned Flanders, Mr. Burns, Dr. Hibbert (1990–202...",NaN,NaN,NaN

In [56]:
simpsons.head(7)

,Cast members,Cast members.1,Cast members.2,Cast members.3,Cast members.4,Cast members.5,Cast members.6,Cast members.7,Cast members.8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Dan Castellaneta,Julie Kavner,Nancy Cartwright,Yeardley Smith,Hank Azaria,Harry Shearer,NaN,NaN,NaN
2,"Homer Simpson, Abe Simpson, Krusty the Clown, ...","Marge Simpson, Patty and Selma Bouvier, additi...","Bart Simpson, Maggie Simpson, various characters",Lisa Simpson,"Moe Szyslak, Chief Wiggum, Apu Nahasapeemapeti...","Ned Flanders, Mr. Burns, Dr. Hibbert (1990–202...",NaN,NaN,NaN

In [57]:
simpsons.drop([0,1], inplace = True)
simpsons

,Cast members,Cast members.1,Cast members.2,Cast members.3,Cast members.4,Cast members.5,Cast members.6,Cast members.7,Cast members.8
2,"Homer Simpson, Abe Simpson, Krusty the Clown, ...","Marge Simpson, Patty and Selma Bouvier, additi...","Bart Simpson, Maggie Simpson, various characters",Lisa Simpson,"Moe Szyslak, Chief Wiggum, Apu Nahasapeemapeti...","Ned Flanders, Mr. Burns, Dr. Hibbert (1990–202...",NaN,NaN,NaN

In [58]:
simpsons.set_index('Cast members', inplace = True)

In [59]:
simpsons

,Cast members.1,Cast members.2,Cast members.3,Cast members.4,Cast members.5,Cast members.6,Cast members.7,Cast members.8
Cast members,,,,,,,,
"Homer Simpson, Abe Simpson, Krusty the Clown, various characters","Marge Simpson, Patty and Selma Bouvier, additi...","Bart Simpson, Maggie Simpson, various characters",Lisa Simpson,"Moe Szyslak, Chief Wiggum, Apu Nahasapeemapeti...","Ned Flanders, Mr. Burns, Dr. Hibbert (1990–202...",NaN,NaN,NaN

In [60]:
html_string

'<table>\n    <thead>\n      <tr>\n        <th>Order date</th>\n        <th>Region</th> \n        <th>Item</th>\n        <th>Units</th>\n        <th>Unit cost</th>\n      </tr>\n    </thead>\n    <tbody>\n      <tr>\n        <td>1/6/2018</td>\n        <td>East</td> \n        <td>Pencil</td>\n        <td>95</td>\n        <td>1.99</td>\n      </tr>\n      <tr>\n        <td>1/23/2018</td>\n        <td>Central</td> \n        <td>Binder</td>\n        <td>50</td>\n        <td>19.99</td>\n      </tr>\n      <tr>\n        <td>2/9/2018</td>\n        <td>Central</td> \n        <td>Pencil</td>\n        <td>36</td>\n        <td>4.99</td>\n      </tr>\n      <tr>\n        <td>3/15/2018</td>\n        <td>West</td> \n        <td>Pen</td>\n        <td>27</td>\n        <td>19.99</td>\n      </tr>\n    </tbody>\n</table>\n'

In [61]:
wiki_tables

[            The Simpsons                                     The Simpsons.1
 0                    NaN                                                NaN
 1                  Genre                             Animated sitcom Satire
 2             Created by                                      Matt Groening
 3               Based on               The Simpsons shorts by Matt Groening
 4           Developed by            James L. Brooks Matt Groening Sam Simon
 5              Voices of  Dan Castellaneta Julie Kavner Nancy Cartwright...
 6   Theme music composer                                       Danny Elfman
 7          Opening theme                               "The Simpsons Theme"
 8           Ending theme                               "The Simpsons Theme"
 9              Composers  Richard Gibbs (1989–1990) Alf Clausen (1990–20...
 10     Country of origin                                      United States
 11     Original language                                            English
 12        No. of seasons                                                 35
 13       No. of episodes                             765 (list of episodes)
 14            Production                                         Production
 15   Executive producers  List  James L. Brooks  Matt Groening  Al Jean ...
 16             Producers  Bonita Pietila Richard Raynis Richard Sakai De...
 17               Editors                         Don Barrozo Michael Bridge
 18          Running time                                      21–24 minutes
 19  Production companies  Gracie Films 20th Television[a] (seasons 1–32)...
 20      Original release                                   Original release
 21               Network                                                Fox
 22               Release                        December 17, 1989 – present,
                                                                                        Cast members.1  \
 Cast members
 Homer Simpson, Abe Simpson, Krusty the Clown, v...  Marge Simpson, Patty and Selma Bouvier, additi...

                                                                                       Cast members.2  \
 Cast members
 Homer Simpson, Abe Simpson, Krusty the Clown, v...  Bart Simpson, Maggie Simpson, various characters

                                                    Cast members.3  \
 Cast members
 Homer Simpson, Abe Simpson, Krusty the Clown, v...   Lisa Simpson

                                                                                        Cast members.4  \
 Cast members
 Homer Simpson, Abe Simpson, Krusty the Clown, v...  Moe Szyslak, Chief Wiggum, Apu Nahasapeemapeti...

                                                                                        Cast members.5  \
 Cast members
 Homer Simpson, Abe Simpson, Krusty the Clown, v...  Ned Flanders, Mr. Burns, Dr. Hibbert (1990–202...

                                                     Cast members.6  \
 Cast members
 Homer Simpson, Abe Simpson, Krusty the Clown, v...             NaN

                                                     Cast members.7  \
 Cast members
 Homer Simpson, Abe Simpson, Krusty the Clown, v...             NaN

                                                     Cast members.8
 Cast members
 Homer Simpson, Abe Simpson, Krusty the Clown, v...             NaN  ,
     Season   Season.1  No. of episodes    Originally aired Originally aired.1  \
 0   Season     Season  No. of episodes     Season premiere      Season finale
 1   Season     Season  No. of episodes     Season premiere      Season finale
 2        1    1989–90               13   December 17, 1989       May 13, 1990
 3        2    1990–91               22    October 11, 1990      July 11, 1991
 4        3    1991–92               24  September 19, 1991    August 27, 1992
 5        4    1992–93               22  September 24, 1992       May 13, 1993
 6        5    1993–94               22  September 30, 1993       May 19, 1994
 7        6    1994–95               25   September 4, 1994       May 21, 1995
 8        7    1995–96               25  September 17, 1995       May 19, 1996
 9        8    1996–97               25    October 27, 1996       May 18, 1997
 10       9    1997–98               25  September 21, 1997       May 17, 1998
 11      10    1998–99               23     August 23, 1998       May 16, 1999
 12      11  1999–2000               22  September 26, 1999       May 21, 2000
 13      12    2000–01               21    November 1, 2000       May 20, 2001
 14      13    2001–02               22    November 6, 2001       May 22, 2002
 15      14    2002–03               22    November 3, 2002       May 18, 2003
 16      15    2003–04               22    November 2, 2003       May 23, 2004
 17      16    2004–05               21    November 7, 2004       May 15, 2005
 18      17    2005–06               22  September 11, 2005       May 21, 2006
 19      18    2006–07               22  September 10, 2006       May 20, 2007
 20      19    2007–08               20  September 23, 2007       May 18, 2008
 21      20    2008–09               21  September 28, 2008       May 17, 2009
 22      21    2009–10               23  September 27, 2009       May 23, 2010
 23      22    2010–11               22  September 26, 2010       May 22, 2011
 24      23    2011–12               22  September 25, 2011       May 20, 2012
 25      24    2012–13               22  September 30, 2012       May 19, 2013
 26      25    2013–14               22  September 29, 2013       May 18, 2014
 27      26    2014–15               22  September 28, 2014       May 17, 2015
 28      27    2015–16               22  September 27, 2015       May 22, 2016
 29      28    2016–17               22  September 25, 2016       May 21, 2017
 30      29    2017–18               21     October 1, 2017       May 20, 2018
 31      30    2018–19               23  September 30, 2018       May 12, 2019
 32      31    2019–20               22  September 29, 2019       May 17, 2020
 33      32    2020–21               22  September 27, 2020       May 23, 2021
 34      33    2021–22               22  September 26, 2021       May 22, 2022
 35      34    2022–23               22  September 25, 2022       May 21, 2023
 36      35    2023–24          18[214]     October 1, 2023  May 19, 2024[215]

                                    Originally aired.2  \
 0                                      Time slot (ET)
 1                                      Time slot (ET)
 2                                      Sunday 8:30 pm
 3                                    Thursday 8:00 pm
 4                                    Thursday 8:00 pm
 5                                    Thursday 8:00 pm
 6                                    Thursday 8:00 pm
 7                                      Sunday 8:00 pm
 8   Sunday 8:00 pm (Episodes 1–24) Sunday 8:30 pm ...
 9   Sunday 8:30 pm (Episodes 1–3) Sunday 8:00 pm (...
 10                                     Sunday 8:00 pm
 11                                     Sunday 8:00 pm
 12                                     Sunday 8:00 pm
 13                                     Sunday 8:00 pm
 14  Tuesday 8:30 pm (Episode 1) Sunday 8:00 pm (Ep...
 15  Sunday 8:00 pm (Episodes 1–11, 13–21) Sunday 8...
 16                                     Sunday 8:00 pm
 17  Sunday 8:00 pm (Episodes 1–7, 9–16, 18, 20) Su...
 18                                     Sunday 8:00 pm
 19                                     Sunday 8:00 pm
 20                                     Sunday 8:00 pm
 21  Sunday 8:00 pm (Episodes 1–7, 9–21) Sunday 8:3...
 22                                     Sunday 8:00 pm
 23                                     Sunday 8:00 pm
 24                                     Sunday 8:00 pm
 25  Sunday 8:00 pm (Episodes 1–21) Sunday 8:30 pm ...
 26  Sunday 8:00 pm (Episodes 1–11, 13–22) Sunday 7...
 27                                     Sunday 8:00 pm
 28                                     Sunday 8:00 pm
 29                                     Sunday 8:00 pm
 30                                     Sunday 8:00 pm
 31                                     Sunday 8:00 pm
 32                                     Sunday 8:00 pm
 33  Sunday 8:00 pm (Episodes 1–10, 12–22) Sunday 9...
 34  Sunday 8:00 pm (Episodes 1–10, 12–22) Sunday 9...
 35  Sunday 8:00 pm (Episodes 1–8, 10–22) Sunday 8:...
 36  Sunday 8:00 pm (Episodes 1–5, 7, 10–present) S...

                     Viewership          Viewership.1  \
 0   Avg. viewers (in millions)  Most watched episode
 1   Avg. viewers (in millions)    Viewers (millions)
 2                         27.8             33.5[167]
 3                         24.4             33.6[168]
 4                         21.8             25.5[169]
 5                         22.4             28.6[170]
 6                         18.9             24.0[171]
 7                         15.6             22.2[172]
 8                         15.1             22.6[173]
 9                         14.5            20.41[175]
 10                        15.3            19.80[176]
 11                        13.5            19.11[177]
 12                         8.8            19.16[178]
 13                        15.5            18.52[179]
 14                        12.5            14.91[180]
 15                        14.4            22.04[181]
 16                        11.0            16.30[182]
 17                        10.2            23.07[183]
 18                        9.55            11.66[184]
 19                        9.15            11.63[185]
 20                        8.37            11.74[186]
 21                         7.1            12.40[187]
 22                         7.1            14.62[188]
 23                        7.09            12.55[189]
 24                   6.15[190]            11.48[191]
 25                   5.41[192]             8.97[193]
 26                   5.02[194]            12.04[195]
 27                   5.61[196]            10.62[197]
 28                    4.0[198]             8.33[199]
 29                   4.80[200]             8.19[201]
 30                   4.07[202]             8.04[203]
 31                   3.10[204]             8.20[205]
 32                   2.58[206]             5.63[207]
 33                   2.32[208]             4.93[209]
 34                   2.25[210]             3.97[211]
 35                   1.83[212]             4.77[213]
 36                         TBA                   TBA

                                     Viewership.2
 0                           Most watched episode
 1                                  Episode title
 2                        "Life on the Fast Lane"
 3                             "Bart Gets an 'F'"
 4                                "Colonel Homer"
 5                            "Lisa's First Word"
 6                       "Treehouse of Horror IV"
 7                        "Treehouse of Horror V"
 8                "Who Shot Mr. Burns? – Part II"
 9                        "The Springfield Files"
 10            "The Two Mrs. Nahasapeemapetilons"
 11                       "Sunday, Cruddy Sunday"
 12                                   "Faith Off"
 13                                        "HOMR"
 14                              "The Parent Rap"
 15               "I'm Spelling as Fast as I Can"
 16                      "I, (Annoyed Grunt)-Bot"
 17              "Homer and Ned's Hail Mary Pass"
 18                     "Treehouse of Horror XVI"
 19  "The Mook, the Chef, the Wife and Her Homer"
 20                   "Treehouse of Horror XVIII"
 21                     "Treehouse of Horror XIX"
 22             "Once Upon a Time in Springfield"
 23                     "Moms I'd Like to Forget"
 24                       "The D'oh-cial Network"
 25                   "Homer Goes to Prep School"
 26                          "Steal This Episode"
 27               "The Man Who Came to Be Dinner"
 28          "Teenage Mutant Milk-Caused Hurdles"
 29                              "Pork and Burns"
 30                            "Frink Gets Testy"
 31                         "The Girl on the Bus"
 32                          "Go Big or Go Homer"
 33                    "Treehouse of Horror XXXI"
 34                "Portrait of a Lackey on Fire"
 35                      "From Beer to Paternity"
 36                                           TBA  ,
                                       vteThe Simpsons  \
 0                      The Simpsons franchise History
 1                                               Media
 2                                            Episodes
 3                                             Seasons
 4                                              Shorts
 5   1980s shorts from The Tracey Ullman Show "Good...
 6                                      Disney+ shorts
 7                                         Theme parks
 8                                              Others
 9                                          Characters
 10                       Simpson family and relatives
 11                                          Recurring
 12                                         Production
 13                                          Hallmarks
 14                                          Locations
 15                                             Themes
 16                                     Inspired works
 17                                            Related
 18                                   Portal  Category

                                     vteThe Simpsons.1
 0                      The Simpsons franchise History
 1   Episodes Seasons 1–20 Season 21–present Season...
 2                      Seasons 1–20 Season 21–present
 3   1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...
 4   1980s shorts from The Tracey Ullman Show "Good...
 5   1980s shorts from The Tracey Ullman Show "Good...
 6   The Force Awakens from Its Nap (2021) The Good...
 7   Springfield Florida Hollywood The Simpsons Rid...
 8   Video games Books Comics Discography The Simps...
 9   Simpson family and relatives Homer Simpson Mar...
 10  Homer Simpson Marge Simpson Bart Simpson Lisa ...
 11  Sideshow Bob Kent Brockman Mr. Burns Comic Boo...
 12  Matt Groening Cast members Directors Writers G...
 13  Opening sequence Main title theme The Itchy & ...
 14         Springfield The Simpsons house Kwik-E-Mart
 15                            Media Politics Religion
 16  Bibliography Mr. Burns, a Post-Electric Play M...
 17  alt.tv.simpsons Animation Domination Awards an...
 18                                   Portal  Category  ,
                                             Episodes  \
 0                                            Seasons
 1                                             Shorts
 2  1980s shorts from The Tracey Ullman Show "Good...
 3                                     Disney+ shorts
 4                                        Theme parks
 5                                             Others

                       Seasons 1–20 Season 21–present
 0  1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...
 1  1980s shorts from The Tracey Ullman Show "Good...
 2  1980s shorts from The Tracey Ullman Show "Good...
 3  The Force Awakens from Its Nap (2021) The Good...
 4  Springfield Florida Hollywood The Simpsons Rid...
 5  Video games Books Comics Discography The Simps...  ,
   1980s shorts from The Tracey Ullman Show "Good Night" The Longest Daycare (2012) Playdate with Destiny (2020) The Simpsons | Balenciaga (2021) Te Deseo Lo Mejor (2021)  \
 0                                     Disney+ shorts

   1980s shorts from The Tracey Ullman Show "Good Night" The Longest Daycare (2012) Playdate with Destiny (2020) The Simpsons | Balenciaga (2021) Te Deseo Lo Mejor (2021).1
 0  The Force Awakens from Its Nap (2021) The Good...                                                                                                                         ,
   Simpson family and relatives  \
 0                    Recurring

   Homer Simpson Marge Simpson Bart Simpson Lisa Simpson Maggie Simpson Grampa Simpson Patty and Selma Bouvier Mona Simpson Santa's Little Helper
 0  Sideshow Bob Kent Brockman Mr. Burns Comic Boo...                                                                                              ,
                                 The Simpsons episodes  \
 0   vteThe Simpsons episodes Seasons 1–20 1 2 3 4 ...
 1                            vteThe Simpsons episodes
 2   Seasons 1–20 1 2 3 4 5 6 7 8 9 10 11 12 13 14 ...
 3                                     Themed episodes
 4                                            See also
 5                                            Category
 6               vteThe Simpsons Sideshow Bob episodes
 7                                   Major appearances
 8                                   Minor appearances
 9                  vteThe Simpsons Christmas episodes
 10                                              1980s
 11                                              1990s
 12                                              2000s
 13                                              2010s
 14                                              2020s
 15                                           See also
 16                vteThe Simpsons Treehouse of Horror
 17                                           Episodes
 18                                           See also
 19                                           Category

                               The Simpsons episodes.1
 0   vteThe Simpsons episodes Seasons 1–20 1 2 3 4 ...
 1                            vteThe Simpsons episodes
 2   Seasons 1–20 1 2 3 4 5 6 7 8 9 10 11 12 13 14 ...
 3                            Treehouse of Horror list
 4      The Simpsons episode guides "The Simpsons Guy"
 5                                            Category
 6               vteThe Simpsons Sideshow Bob episodes
 7   "Krusty Gets Busted" "Black Widower" "Cape Fea...
 8   "The Telltale Head" "Lisa's First Word" "Sex, ...
 9                  vteThe Simpsons Christmas episodes
 10         "Simpsons Roasting on an Open Fire" (1989)
 11  "Marge Be Not Proud" (1995) "Miracle on Evergr...
 12  "Lisa the Tree Hugger" (2000) "Skinner's Sense...
 13  "The Fight Before Christmas" (2010) "Holidays ...
 14  "The Way of the Dog" (2020) "A Springfield Sum...
 15  "Simpson Xmas", a 1988 short from The Tracey U...
 16                vteThe Simpsons Treehouse of Horror
 17  I II III IV V VI VII VIII IX X XI XII XIII XIV...
 18  "Halloween of Horror" "Thanksgiving of Horror"...
 19                                           Category  ,
                             vteThe Simpsons episodes  \
 0  Seasons 1–20 1 2 3 4 5 6 7 8 9 10 11 12 13 14 ...
 1                                    Themed episodes
 2                                           See also
 3                                           Category

                           vteThe Simpsons episodes.1
 0  Seasons 1–20 1 2 3 4 5 6 7 8 9 10 11 12 13 14 ...
 1                           Treehouse of Horror list
 2     The Simpsons episode guides "The Simpsons Guy"
 3                                           Category  ,
   vteThe Simpsons Sideshow Bob episodes  \
 0                     Major appearances
 1                     Minor appearances

              vteThe Simpsons Sideshow Bob episodes.1
 0  "Krusty Gets Busted" "Black Widower" "Cape Fea...
 1  "The Telltale Head" "Lisa's First Word" "Sex, ...  ,
   vteThe Simpsons Christmas episodes  \
 0                              1980s
 1                              1990s
 2                              2000s
 3                              2010s
 4                              2020s
 5                           See also

                 vteThe Simpsons Christmas episodes.1
 0         "Simpsons Roasting on an Open Fire" (1989)
 1  "Marge Be Not Proud" (1995) "Miracle on Evergr...
 2  "Lisa the Tree Hugger" (2000) "Skinner's Sense...

In [62]:
wiki_tables[2]

,Season,Season.1,No. of episodes,Originally aired,Originally aired.1,Originally aired.2,Viewership,Viewership.1,Viewership.2
0,Season,Season,No. of episodes,Season premiere,Season finale,Time slot (ET),Avg. viewers (in millions),Most watched episode,Most watched episode
1,Season,Season,No. of episodes,Season premiere,Season finale,Time slot (ET),Avg. viewers (in millions),Viewers (millions),Episode title
2,1,1989–90,13,"December 17, 1989","May 13, 1990",Sunday 8:30 pm,27.8,33.5[167],"""Life on the Fast Lane"""
3,2,1990–91,22,"October 11, 1990","July 11, 1991",Thursday 8:00 pm,24.4,33.6[168],"""Bart Gets an 'F'"""
4,3,1991–92,24,"September 19, 1991","August 27, 1992",Thursday 8:00 pm,21.8,25.5[169],"""Colonel Homer"""
5,4,1992–93,22,"September 24, 1992","May 13, 1993",Thursday 8:00 pm,22.4,28.6[170],"""Lisa's First Word"""
6,5,1993–94,22,"September 30, 1993","May 19, 1994",Thursday 8:00 pm,18.9,24.0[171],"""Treehouse of Horror IV"""
7,6,1994–95,25,"September 4, 1994","May 21, 1995",Sunday 8:00 pm,15.6,22.2[172],"""Treehouse of Horror V"""
8,7,1995–96,25,"September 17, 1995","May 19, 1996",Sunday 8:00 pm (Episodes 1–24) Sunday 8:30 pm ...,15.1,22.6[173],"""Who Shot Mr. Burns? – Part II"""
9,8,1996–97,25,"October 27, 1996","May 18, 1997",Sunday 8:30 pm (Episodes 1–3) Sunday 8:00 pm (...,14.5,20.41[175],"""The Springfield Files"""
10,9,1997–98,25,"September 21, 1997","May 17, 1998",Sunday 8:00 pm,15.3,19.80[176],"""The Two Mrs. Nahasapeemapetilons"""
11,10,1998–99,23,"August 23, 1998","May 16, 1999",Sunday 8:00 pm,13.5,19.11[177],"""Sunday, Cruddy Sunday"""
12,11,1999–2000,22,"September 26, 1999","May 21, 2000",Sunday 8:00 pm,8.8,19.16[178],"""Faith Off"""
13,12,2000–01,21,"November 1, 2000","May 20, 2001",Sunday 8:00 pm,15.5,18.52[179],"""HOMR"""
14,13,2001–02,22,"November 6, 2001","May 22, 2002",Tuesday 8:30 pm (Episode 1) Sunday 8:00 pm (Ep...,12.5,14.91[180],"""The Parent Rap"""
15,14,2002–03,22,"November 3, 2002","May 18, 2003","Sunday 8:00 pm (Episodes 1–11, 13–21) Sunday 8...",14.4,22.04[181],"""I'm Spelling as Fast as I Can"""
16,15,2003–04,22,"November 2, 2003","May 23, 2004",Sunday 8:00 pm,11.0,16.30[182],"""I, (Annoyed Grunt)-Bot"""
17,16,2004–05,21,"November 7, 2004","May 15, 2005","Sunday 8:00 pm (Episodes 1–7, 9–16, 18, 20) Su...",10.2,23.07[183],"""Homer and Ned's Hail Mary Pass"""
18,17,2005–06,22,"September 11, 2005","May 21, 2006",Sunday 8:00 pm,9.55,11.66[184],"""Treehouse of Horror XVI"""
19,18,2006–07,22,"September 10, 2006","May 20, 2007",Sunday 8:00 pm,9.15,11.63[185],"""The Mook, the Chef, the Wife and Her Homer"""
20,19,2007–08,20,"September 23, 2007","May 18, 2008",Sunday 8:00 pm,8.37,11.74[186],"""Treehouse of Horror XVIII"""
21,20,2008–09,21,"September 28, 2008","May 17, 2009","Sunday 8:00 pm (Episodes 1–7, 9–21) Sunday 8:3...",7.1,12.40[187],"""Treehouse of Horror XIX"""
22,21,2009–10,23,"September 27, 2009","May 23, 2010",Sunday 8:00 pm,7.1,14.62[188],"""Once Upon a Time in Springfield"""
23,22,2010–11,22,"September 26, 2010","May 22, 2011",Sunday 8:00 pm,7.09,12.55[189],"""Moms I'd Like to Forget"""
24,23,2011–12,22,"September 25, 2011","May 20, 2012",Sunday 8:00 pm,6.15[190],11.48[191],"""The D'oh-cial Network"""
25,24,2012–13,22,"September 30, 2012","May 19, 2013",Sunday 8:00 pm (Episodes 1–21) Sunday 8:30 pm ...,5.41[192],8.97[193],"""Homer Goes to Prep School"""
26,25,2013–14,22,"September 29, 2013","May 18, 2014","Sunday 8:00 pm (Episodes 1–11, 13–22) Sunday 7...",5.02[194],12.04[195],"""Steal This Episode"""
27,26,2014–15,22,"September 28, 2014","May 17, 2015",Sunday 8:00 pm,5.61[196],10.62[197],"""The Man Who Came to Be Dinner"""
28,27,2015–16,22,"September 27, 2015","May 22, 2016",Sunday 8:00 pm,4.0[198],8.33[199],"""Teenage Mutant Milk-Caused Hurdles"""
29,28,2016–17,22,"September 25, 2016","May 21, 2017",Sunday 8:00 pm,4.80[200],8.19[201],"""Pork and Burns"""
30,29,2017–18,21,"October 1, 2017","May 20, 2018",Sunday 8:00 pm,4.07[202],8.04[203],"""Frink Gets Testy"""
31,30,2018–19,23,"September 30, 2018","May 12, 2019",Sunday 8:00 pm,3.10[204],8.20[205],"""The Girl on the Bus"""
32,31,2019–20,22,"September 29, 2019","May 17, 2020",Sunday 8:00 pm,2.58[206],5.63[207],"""Go Big or Go Homer"""
33,32,2020–21,22,"September 27, 2020","May 23, 2021","Sunday 8:00 pm (Episodes 1–10, 12–22) Sunday 9...",2.32[208],4.93[209],"""Treehouse of Horror XXXI"""
34,33,2021–22,22,"September 26, 2021","May 22, 2022","Sunday 8:00 pm (Episodes 1–10, 12–22) Sunday 9...",2.25[210],3.97[211],"""Portrait of a Lackey on Fire"""
35,34,2022–23,22,"September 25, 2022","May 21, 2023","Sunday 8:00 pm (Episodes 1–8, 10–22) Sunday 8:...",1.83[212],4.77[213],"""From Beer to Paternity"""
36,35,2023–24,18[214],"October 1, 2023","May 19, 2024[215]","Sunday 8:00 pm (Episodes 1–5, 7, 10–present) S...",TBA,TBA,TBA

In [63]:
wiki_tables[3].head()

,vteThe Simpsons,vteThe Simpsons.1
0,The Simpsons franchise History,The Simpsons franchise History
1,Media,Episodes Seasons 1–20 Season 21–present Season...
2,Episodes,Seasons 1–20 Season 21–present
3,Seasons,1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...
4,Shorts,"1980s shorts from The Tracey Ullman Show ""Good..."

In [64]:
wiki_tables[20].head()

  vteKlasky Csupo                                  vteKlasky Csupo.1
0       TV series  The Simpsons (1989–92) Rugrats (1991–2004) Aaa...
1   Feature films  The Rugrats Movie (1998) Rugrats in Paris: The...
2     Video games  Aaahh!!! Real Monsters Duckman: The Graphic Ad...
3         Rugrats  Adventure Game Search for Reptar The Rugrats M...
4     Other works  Shadrach Monster in the Mirror Alexander and t...

In [65]:
a = """
<table>
  <tr>
    <td>Order date</td>
    <td>Region</td> 
    <td>Item</td>
    <td>Units</td>
    <td>Unit cost</td>
  </tr>
  <tr>
    <td>1/6/2018</td>
    <td>East</td> 
    <td>Pencil</td>
    <td>95</td>
    <td>1.99</td>
  </tr>
  <tr>
    <td>1/23/2018</td>
    <td>Central</td> 
    <td>Binder</td>
    <td>50</td>
    <td>19.99</td>
  </tr>
  <tr>
    <td>2/9/2018</td>
    <td>Central</td> 
    <td>Pencil</td>
    <td>36</td>
    <td>4.99</td>
  </tr>
  <tr>
    <td>3/15/2018</td>
    <td>West</td> 
    <td>Pen</td>
    <td>27</td>
    <td>19.99</td>
  </tr>
</table>
"""

In [66]:
a

'\n<table>\n  <tr>\n    <td>Order date</td>\n    <td>Region</td> \n    <td>Item</td>\n    <td>Units</td>\n    <td>Unit cost</td>\n  </tr>\n  <tr>\n    <td>1/6/2018</td>\n    <td>East</td> \n    <td>Pencil</td>\n    <td>95</td>\n    <td>1.99</td>\n  </tr>\n  <tr>\n    <td>1/23/2018</td>\n    <td>Central</td> \n    <td>Binder</td>\n    <td>50</td>\n    <td>19.99</td>\n  </tr>\n  <tr>\n    <td>2/9/2018</td>\n    <td>Central</td> \n    <td>Pencil</td>\n    <td>36</td>\n    <td>4.99</td>\n  </tr>\n  <tr>\n    <td>3/15/2018</td>\n    <td>West</td> \n    <td>Pen</td>\n    <td>27</td>\n    <td>19.99</td>\n  </tr>\n</table>\n'

In [67]:
pd.read_html(a)

C:\Users\DELL\AppData\Local\Temp\ipykernel_7324\722230255.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_html(a)

[            0        1       2      3          4
 0  Order date   Region    Item  Units  Unit cost
 1    1/6/2018     East  Pencil     95       1.99
 2   1/23/2018  Central  Binder     50      19.99
 3    2/9/2018  Central  Pencil     36       4.99
 4   3/15/2018     West     Pen     27      19.99]

In [68]:
b = pd.read_html(a)[0]
b

C:\Users\DELL\AppData\Local\Temp\ipykernel_7324\3708175449.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  b = pd.read_html(a)[0]

            0        1       2      3          4
0  Order date   Region    Item  Units  Unit cost
1    1/6/2018     East  Pencil     95       1.99
2   1/23/2018  Central  Binder     50      19.99
3    2/9/2018  Central  Pencil     36       4.99
4   3/15/2018     West     Pen     27      19.99

In [69]:
import requests
html_url = 'https://en.wikipedia.org/wiki/The_Simpsons'

In [70]:
r = requests.get(html_url)
wiki_tables = pd.read_html(r.text, header = 0)

C:\Users\DELL\AppData\Local\Temp\ipykernel_7324\2293033748.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  wiki_tables = pd.read_html(r.text, header = 0)

In [71]:
len(wiki_tables)

47

In [72]:
simpsons = wiki_tables[1]

In [73]:
simpsons

,Cast members,Cast members.1,Cast members.2,Cast members.3,Cast members.4,Cast members.5,Cast members.6,Cast members.7,Cast members.8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Dan Castellaneta,Julie Kavner,Nancy Cartwright,Yeardley Smith,Hank Azaria,Harry Shearer,NaN,NaN,NaN
2,"Homer Simpson, Abe Simpson, Krusty the Clown, ...","Marge Simpson, Patty and Selma Bouvier, additi...","Bart Simpson, Maggie Simpson, various characters",Lisa Simpson,"Moe Szyslak, Chief Wiggum, Apu Nahasapeemapeti...","Ned Flanders, Mr. Burns, Dr. Hibbert (1990–202...",NaN,NaN,NaN

In [74]:
nba.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,...,.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,...,.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,3,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,...,.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,4,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,...,.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,5,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,...,.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9

In [75]:
nba.shape

(734, 30)

In [76]:
nba['Age'].unique()

array(['25', '28', '22', '21', '33', '23', '20', '26', '30', '24', '34',
       'Age', '31', '19', '32', '29', '27', '37', '42', '36', '38', '35',
       '40'], dtype=object)

In [77]:
min_age = nba['Age'].min()
min_age

'19'

In [78]:
nba

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,...,.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,...,.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,3,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,...,.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,4,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,...,.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,5,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,...,.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,528,Tyler Zeller,C,29,MEM,4,1,20.5,4.0,7.0,...,.778,2.3,2.3,4.5,0.8,0.3,0.8,1.0,4.0,11.5
730,529,Ante Žižić,C,22,CLE,59,25,18.3,3.1,5.6,...,.705,1.8,3.6,5.4,0.9,0.2,0.4,1.0,1.9,7.8
731,530,Ivica Zubac,C,21,TOT,59,37,17.6,3.6,6.4,...,.802,1.9,4.2,6.1,1.1,0.2,0.9,1.2,2.3,8.9
732,530,Ivica Zubac,C,21,LAL,33,12,15.6,3.4,5.8,...,.864,1.6,3.3,4.9,0.8,0.1,0.8,1.0,2.2,8.5
733,530,Ivica Zubac,C,21,LAC,26,25,20.2,3.8,7.2,...,.733,2.3,5.3,7.7,1.5,0.4,0.9,1.4,2.5,9.4

In [79]:
nba.loc[nba['Age'] == min_age]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
31,27,Marvin Bagley III,PF,19,SAC,62,4,25.3,5.7,11.4,...,.691,2.6,5.0,7.6,1.0,0.5,1.0,1.6,1.9,14.9
69,60,Isaac Bonga,PG,19,LAL,22,0,5.5,0.2,1.5,...,.600,0.4,0.7,1.1,0.7,0.4,0.2,0.3,0.4,0.9
91,77,Troy Brown Jr.,SF,19,WAS,52,10,14.0,1.9,4.5,...,.681,0.7,2.1,2.8,1.5,0.4,0.1,0.6,1.1,4.8
120,93,Wendell Carter Jr.,C,19,CHI,44,44,25.2,4.1,8.4,...,.795,2.0,5.0,7.0,1.8,0.6,1.3,1.5,3.5,10.3
188,142,Luka Dončić,SG,19,DAL,72,72,32.2,7.0,16.5,...,.713,1.2,6.6,7.8,6.0,1.1,0.3,3.4,1.9,21.2
341,255,Jaren Jackson Jr.,PF,19,MEM,58,56,26.1,5.1,10.2,...,.766,1.3,3.4,4.7,1.1,0.9,1.4,1.7,3.8,13.8
389,285,Kevin Knox,PF,19,NYK,75,57,28.8,4.5,12.2,...,.717,0.8,3.7,4.5,1.1,0.6,0.3,1.5,2.3,12.8
508,368,Džanan Musa,SG,19,BRK,9,0,4.3,1.0,2.4,...,.000,0.1,0.4,0.6,0.2,0.2,0.0,0.4,0.1,2.1
626,452,Anfernee Simons,SG,19,POR,20,1,7.1,1.4,3.2,...,.563,0.2,0.5,0.7,0.7,0.1,0.0,0.6,0.5,3.8
637,458,Zhaire Smith,SG,19,PHI,6,2,18.5,2.3,5.7,...,.750,0.5,1.7,2.2,1.7,0.3,0.3,1.0,1.3,6.7
683,490,Jarred Vanderbilt,PF,19,DEN,17,0,4.1,0.5,1.1,...,.600,0.4,0.9,1.4,0.2,0.4,0.1,0.5,0.5,1.4

In [80]:
#Reading excel files
print(pd.__version__)

2.2.1

In [81]:
nba.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,...,.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,...,.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,3,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,...,.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,4,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,...,.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,5,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,...,.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9

In [82]:
df = pd.read_excel(r"C:\Users\DELL\Downloads\products.xlsx")
df

,product_id,price,merchant_id,brand,name
0,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
1,AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
2,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
3,AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
4,AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...
...,...,...,...,...,...
1240,AVphFybdLJeJML43Wnza,64.95,1110,JBL,"JBL - 6 x 9"" 3-Way Car Speakers with Polypropy..."
1241,AVpe_qIa1cnluZ0-bjrN,871.06,1002,HP,HP - ProBook 14 Laptop - Intel Core i5 - 4GB M...
1242,AVphibxI1cnluZ0-DpxG,74.95,1238,Magellan,Magellan Roadmate 5322-LM 5 Touchscreen Portab...
1243,AVpgrtW3ilAPnD_xv67M,294.35,1239,Pyle Pro,PMX840BT Bluetooth 8-Channel 800-Watt Powered ...
1244,AVpgibRDLJeJML43PTZX,129.99,1001,naxa,naxa - 2.1-Channel Soundbar with 50-Watt Digit...

In [83]:
pip install openpyxl --upgrade --pre

Requirement already satisfied: openpyxl in c:\users\dell\anaconda3\lib\site-packages (3.1.0)
Collecting openpyxl
  Obtaining dependency information for openpyxl from https://files.pythonhosted.org/packages/6a/94/a59521de836ef0da54aaf50da6c4da8fb4072fb3053fa71f052fd9399e7a/openpyxl-3.1.2-py2.py3-none-any.whl.metadata
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: et-xmlfile in c:\users\dell\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Installing collected packages: openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 3.1.0
    Uninstalling openpyxl-3.1.0:
      Successfully uninstalled openpyxl-3.1.0
Successfully installed openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [84]:
!pip3 install --upgrade pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (2.2.1)
Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/ab/63/966db1321a0ad55df1d1fe51505d2cdae191b84c907974873817b0a6e849/pandas-2.2.2-cp311-cp311-win_amd64.whl.metadata
  Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.23.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.6 MB 393.8 kB/s eta 0:00:30
   ---------------------------------------- 0.1/11.6 MB 901.1 kB/s eta 0:00:13
    --------------------------------------- 0.2/11.6 MB 1.3 MB/s eta 0:00:10
   - -------------------------------------- 0.3/11.6 MB 1.6 MB/s eta 0:00:08
   - -------------------------------------- 0.5/11.6 MB 1.8 MB/s eta 0:00:07
   -- ------------------------------------- 0.6/11.6 MB 2.0 MB/s eta 0:00:06
   -- ------------------------------------- 0.8/11.6 MB 2.2 MB/s eta 0:00:05
   -- ------------------------------------- 0.8/11.6 MB 2.2 MB/s eta 0:00:06
   -- ------------------------------------- 0.8/11.6 MB 2.2 MB/s eta 0:00:06
   -- ------------------------------------- 0.8/11.6 MB 2.2 MB/s eta 0:00:06
   -- ------------------------------------- 0.8/11.6 MB 2.2 MB/s eta 0:00:06
   --- ------------------------------------ 1.0/11.6 MB 1.7 MB/s eta 0:00:07
   --- ------------------------------------ 1.0/11.6 MB 1.7 MB/s eta 0:00:07
   ----- ---------------------------------- 1.5/11.6 MB 2.2 MB/s eta 0:00:05
   ----- ---------------------------------- 1.5/11.6 MB 2.1 MB/s eta 0:00:05
   ----- ---------------------------------- 1.6/11.6 MB 2.2 MB/s eta 0:00:05
   ------ --------------------------------- 1.8/11.6 MB 2.2 MB/s eta 0:00:05
   ------ --------------------------------- 1.9/11.6 MB 2.2 MB/s eta 0:00:05
   ------ --------------------------------- 2.0/11.6 MB 2.2 MB/s eta 0:00:05
   ------ --------------------------------- 2.0/11.6 MB 2.2 MB/s eta 0:00:05
   ------ --------------------------------- 2.0/11.6 MB 2.2 MB/s eta 0:00:05
   ------ --------------------------------- 2.0/11.6 MB 2.2 MB/s eta 0:00:05
   ------- -------------------------------- 2.2/11.6 MB 2.0 MB/s eta 0:00:05
   -------- ------------------------------- 2.6/11.6 MB 2.2 MB/s eta 0:00:05
   --------- ------------------------------ 2.7/11.6 MB 2.3 MB/s eta 0:00:04
   --------- ------------------------------ 2.8/11.6 MB 2.3 MB/s eta 0:00:04
   ---------- ----------------------------- 2.9/11.6 MB 2.3 MB/s eta 0:00:04
   ---------- ----------------------------- 3.1/11.6 MB 2.3 MB/s eta 0:00:04
   ----------- ---------------------------- 3.2/11.6 MB 2.3 MB/s eta 0:00:04
   ----------- ---------------------------- 3.3/11.6 MB 2.3 MB/s eta 0:00:04
   ----------- ---------------------------- 3.3/11.6 MB 2.3 MB/s eta 0:00:04
   ----------- ---------------------------- 3.3/11.6 MB 2.3 MB/s eta 0:00:04
   ----------- ---------------------------- 3.3/11.6 MB 2.3 MB/s eta 0:00:04
   ------------ --------------------------- 3.7/11.6 MB 2.3 MB/s eta 0:00:04
   ------------- -------------------------- 3.8/11.6 MB 2.3 MB/s eta 0:00:04
   ------------- -------------------------- 4.0/11.6 MB 2.3 MB/s eta 0:00:04
   -------------- ------------------------- 4.1/11.6 MB 2.3 MB/s eta 0:00:04
   -------------- ------------------------- 4.2/11.6 MB 2.4 MB/s eta 0:00:04
   --------------- ------------------------ 4.4/11.6 MB 2.4 MB/s eta 0:00:04
   --------------- ------------------------ 4.5/11.6 MB 2.4 MB/s eta 0:00:03
   --------------- ------------------------ 4.6/11.6 MB 2.4 MB/s eta 0:00:03
   ---------------- ----------------------- 4.8/11.6 MB 2.4 MB/s eta 0:00:03
   ---------------- ----------------------- 4.9/11.6 MB 2.4 MB/s eta 0:00:03
   ----------------- ---------------------- 5.0/11.6 MB 2.4 MB/s eta 0:00:03
   ----------------- ---------------------- 5.1/11.6 MB 2.4 MB/s eta 0:00:03
   ----------------- ---------------------- 5.2/11.6 MB 2.4 MB/s eta 0:00:03
   ------------------ --------------------- 5.3/11.6 MB 2.4 MB/s eta 0:00:03
   ------------------ --------------------- 5.4/11.6 MB 2.4 MB/s eta 0:00:03
   ------------------ --------------------- 5.5/11.6 MB 2.4 MB/s eta 0:00:03
   ------------------- -------------------- 5.6/11.6 MB 2.4 MB/s eta 0:00:03
   ------------------- -------------------- 5.7/11.6 MB 2.4 MB/s eta 0:00:03
   -------------------- ------------------- 5.8/11.6 MB 2.4 MB/s eta 0:00:03
   -------------------- ------------------- 5.9/11.6 MB 2.4 MB/s eta 0:00:03
   -------------------- ------------------- 6.0/11.6 MB 2.4 MB/s eta 0:00:03
   -------------------- ------------------- 6.0/11.6 MB 2.4 MB/s eta 0:00:03
   -------------------- ------------------- 6.0/11.6 MB 2.3 MB/s eta 0:00:03
   ---------------------- ----------------- 6.4/11.6 MB 2.4 MB/s eta 0:00:03
   ---------------------- ----------------- 6.5/11.6 MB 2.4 MB/s eta 0:00:03
   ---------------------- ----------------- 6.7/11.6 MB 2.4 MB/s eta 0:00:03
   ----------------------- ---------------- 6.8/11.6 MB 2.5 MB/s eta 0:00:02
   ----------------------- ---------------- 6.8/11.6 MB 2.5 MB/s eta 0:00:02
   ----------------------- ---------------- 6.8/11.6 MB 2.4 MB/s eta 0:00:03
   ----------------------- ---------------- 6.9/11.6 MB 2.3 MB/s eta 0:00:03
   ------------------------ --------------- 7.2/11.6 MB 2.4 MB/s eta 0:00:02
   ------------------------- -------------- 7.3/11.6 MB 2.4 MB/s eta 0:00:02
   ------------------------- -------------- 7.4/11.6 MB 2.4 MB/s eta 0:00:02
   ------------------------- -------------- 7.5/11.6 MB 2.4 MB/s eta 0:00:02
   -------------------------- ------------- 7.6/11.6 MB 2.4 MB/s eta 0:00:02
   -------------------------- ------------- 7.7/11.6 MB 2.4 MB/s eta 0:00:02
   -------------------------- ------------- 7.8/11.6 MB 2.4 MB/s eta 0:00:02
   --------------------------- ------------ 7.9/11.6 MB 2.4 MB/s eta 0:00:02
   --------------------------- ------------ 8.0/11.6 MB 2.4 MB/s eta 0:00:02
   --------------------------- ------------ 8.1/11.6 MB 2.4 MB/s eta 0:00:02
   ---------------------------- ----------- 8.3/11.6 MB 2.4 MB/s eta 0:00:02
   ---------------------------- ----------- 8.4/11.6 MB 2.4 MB/s eta 0:00:02
   ----------------------------- ---------- 8.5/11.6 MB 2.4 MB/s eta 0:00:02
   ----------------------------- ---------- 8.6/11.6 MB 2.4 MB/s eta 0:00:02
   ----------------------------- ---------- 8.7/11.6 MB 2.4 MB/s eta 0:00:02
   ------------------------------ --------- 8.8/11.6 MB 2.4 MB/s eta 0:00:02
   ------------------------------ --------- 8.9/11.6 MB 2.4 MB/s eta 0:00:02
   ------------------------------- -------- 9.0/11.6 MB 2.4 MB/s eta 0:00:02
   ------------------------------- -------- 9.2/11.6 MB 2.4 MB/s eta 0:00:02
   ------------------------------- -------- 9.3/11.6 MB 2.4 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.6 MB 2.4 MB/s eta 0:00:01
   -------------------------------- ------- 9.5/11.6 MB 2.4 MB/s eta 0:00:01
   -------------------------------- ------- 9.6/11.6 MB 2.4 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.6 MB 2.4 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 2.4 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.6 MB 2.4 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.6 MB 2.4 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 2.4 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.6 MB 2.4 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.6 MB 2.4 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.6 MB 2.4 MB/s eta 0:00:01
   ----------------------------------- ---- 10.3/11.6 MB 2.4 MB/s eta 0:00:01
   ----------------------------------- ---- 10.4/11.6 MB 2.4 MB/s eta 0:00:01
   ----------------------------------- ---- 10.4/11.6 MB 2.4 MB/s eta 0:00:01
   ----------------------------------- ---- 10.4/11.6 MB 2.4 MB/s eta 0:00:01
   ----------------------------------- ---- 10.4/11.6 MB 2.4 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.6 MB 2.3 MB/s eta 0:00:01
   ------------------------------------ --- 10.6/11.6 MB 2.3 MB/s eta 0:00:01
   ------------------------------------ --- 10.6/11.6 MB 2.3 MB/s eta 0:00:01
   ------------------------------------ --- 10.7/11.6 MB 2.3 MB/s eta 0:00:01
   ------------------------------------ --- 10.7/11.6 MB 2.3 MB/s eta 0:00:01
   ------------------------------------ --- 10.7/11.6 MB 2.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.8/11.6 MB 2.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.6 MB 2.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.6 MB 2.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.6 MB 2.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.6 MB 2.2 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.6 MB 2.2 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.6 MB 2.2 MB/s eta 0:00:01
   -------------------------------------- - 11.2/11.6 MB 2.2 MB/s eta 0:00:01
   -------------------------------------- - 11.2/11.6 MB 2.2 MB/s eta 0:00:01
   -------------------------------------- - 11.2/11.6 MB 2.2 MB/s eta 0:00:01
   -------------------------------------- - 11.3/11.6 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.6 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.6 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.6 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.6 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 2.0 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.1
    Uninstalling pandas-2.2.1:
      Successfully uninstalled pandas-2.2.1

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\DELL\\anaconda3\\Lib\\site-packages\\~andas.libs\\msvcp140-ef6047a69b174ada5cb2eff1d2bc9a62.dll'
Consider using the `--user` option or check the permissions.

In [85]:
pip install openpyxl==3.1.0

Collecting openpyxl==3.1.0Note: you may need to restart the kernel to use updated packages.

  Obtaining dependency information for openpyxl==3.1.0 from https://files.pythonhosted.org/packages/0d/89/f78a9a895e221ec8b13ae7f9495f340a0fb43563b13e2891b5df134f20ea/openpyxl-3.1.0-py2.py3-none-any.whl.metadata
  Using cached openpyxl-3.1.0-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: et-xmlfile in c:\users\dell\anaconda3\lib\site-packages (from openpyxl==3.1.0) (1.1.0)
Using cached openpyxl-3.1.0-py2.py3-none-any.whl (250 kB)
Installing collected packages: openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 3.1.2
    Uninstalling openpyxl-3.1.2:
      Successfully uninstalled openpyxl-3.1.2
Successfully installed openpyxl-3.1.0

In [86]:
pd.__version__

'2.2.1'

In [87]:
pip--version

pip 23.2.1 from C:\Users\DELL\anaconda3\Lib\site-packages\pip (python 3.11)

Note: you may need to restart the kernel to use updated packages.

In [88]:
! python --version

Python 3.11.5

In [89]:
df = pd.read_excel(r"C:\Users\DELL\Downloads\products.xlsx")

In [90]:
pd.read_excel(r"C:\Users\DELL\Downloads\products.xlsx", header = None).head()

,0,1,2,3,4
0,product_id,price,merchant_id,brand,name
1,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
2,AVpgMuGwLJeJML43KY_c,69,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
3,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
4,AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...

In [91]:
pd.read_excel(r"C:\Users\DELL\Downloads\products.xlsx", index_col = 'product_id', sheet_name = 'Products').head()

,price,merchant_id,brand,name
product_id,,,,
AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...

In [92]:
merchants = pd.read_excel(r"C:\Users\DELL\Downloads\products.xlsx", index_col = 'merchant_id', sheet_name = 'Merchants')

In [93]:
merchants.head()

                     merchant
merchant_id
1001              Bestbuy.com
1002              Walmart.com
1003              Bestbuy.com
1004                 Growkart
1005         bhphotovideo.com

In [94]:
products = pd.read_excel(r"C:\Users\DELL\Downloads\products.xlsx", index_col = 'product_id', sheet_name = 'Products')

In [95]:
products.head()

,price,merchant_id,brand,name
product_id,,,,
AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...

In [96]:
#The Excel File Class

In [97]:
excel_file = pd.ExcelFile(r"C:\Users\DELL\Downloads\products.xlsx")

In [98]:
excel_file.sheet_names

['Products', 'Descriptions', 'Merchants']

In [99]:
products = excel_file.parse('Products')

In [100]:
products

,product_id,price,merchant_id,brand,name
0,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
1,AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
2,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
3,AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
4,AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...
...,...,...,...,...,...
1240,AVphFybdLJeJML43Wnza,64.95,1110,JBL,"JBL - 6 x 9"" 3-Way Car Speakers with Polypropy..."
1241,AVpe_qIa1cnluZ0-bjrN,871.06,1002,HP,HP - ProBook 14 Laptop - Intel Core i5 - 4GB M...
1242,AVphibxI1cnluZ0-DpxG,74.95,1238,Magellan,Magellan Roadmate 5322-LM 5 Touchscreen Portab...
1243,AVpgrtW3ilAPnD_xv67M,294.35,1239,Pyle Pro,PMX840BT Bluetooth 8-Channel 800-Watt Powered ...
1244,AVpgibRDLJeJML43PTZX,129.99,1001,naxa,naxa - 2.1-Channel Soundbar with 50-Watt Digit...

In [101]:
products = excel_file.parse(sheet_name = 'Products', index_col = 'product_id', header = 0)
products

,price,merchant_id,brand,name
product_id,,,,
AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...
...,...,...,...,...
AVphFybdLJeJML43Wnza,64.95,1110,JBL,"JBL - 6 x 9"" 3-Way Car Speakers with Polypropy..."
AVpe_qIa1cnluZ0-bjrN,871.06,1002,HP,HP - ProBook 14 Laptop - Intel Core i5 - 4GB M...
AVphibxI1cnluZ0-DpxG,74.95,1238,Magellan,Magellan Roadmate 5322-LM 5 Touchscreen Portab...
AVpgrtW3ilAPnD_xv67M,294.35,1239,Pyle Pro,PMX840BT Bluetooth 8-Channel 800-Watt Powered ...
AVpgibRDLJeJML43PTZX,129.99,1001,naxa,naxa - 2.1-Channel Soundbar with 50-Watt Digit...

In [102]:
products = excel_file.parse(sheet_name = 'Products', header = 0, index_col = 'product_id')
products

,price,merchant_id,brand,name
product_id,,,,
AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...
...,...,...,...,...
AVphFybdLJeJML43Wnza,64.95,1110,JBL,"JBL - 6 x 9"" 3-Way Car Speakers with Polypropy..."
AVpe_qIa1cnluZ0-bjrN,871.06,1002,HP,HP - ProBook 14 Laptop - Intel Core i5 - 4GB M...
AVphibxI1cnluZ0-DpxG,74.95,1238,Magellan,Magellan Roadmate 5322-LM 5 Touchscreen Portab...
AVpgrtW3ilAPnD_xv67M,294.35,1239,Pyle Pro,PMX840BT Bluetooth 8-Channel 800-Watt Powered ...
AVpgibRDLJeJML43PTZX,129.99,1001,naxa,naxa - 2.1-Channel Soundbar with 50-Watt Digit...

In [103]:
products.dtypes

price          float64
merchant_id      int64
brand           object
name            object
dtype: object

In [104]:
merchants = excel_file.parse(sheet_name = 'Merchants', index_col = 'merchant_id')
merchants

                     merchant
merchant_id
1001              Bestbuy.com
1002              Walmart.com
1003              Bestbuy.com
1004                 Growkart
1005         bhphotovideo.com
...                       ...
1236              PRIMESELLER
1237                  Spy Tec
1238              Action Gear
1239            Overstock.com
1240                  unknown

[240 rows x 1 columns]

In [105]:
merchants.dtypes

merchant    object
dtype: object

In [106]:
#Saving to excel file

In [107]:
products.to_excel('out.xlsx')

In [108]:
pd.read_excel('out.xlsx').head()

,product_id,price,merchant_id,brand,name
0,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
1,AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
2,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
3,AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
4,AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...

In [109]:
products.to_excel('out.xlsx', sheet_name = 'Products')

In [110]:
products.to_excel('out.xlsx', index = None)

In [111]:
pd.read_excel('out.xlsx').head()

,price,merchant_id,brand,name
0,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
1,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
2,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
3,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
4,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...

In [112]:
#Positioning data with startrow and startcol

In [113]:
products.to_excel('out.xlsx', sheet_name = 'Products', startrow = 1, startcol = 2)
pd.read_excel('out.xlsx')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,product_id,price,merchant_id,brand,name
1,NaN,NaN,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
2,NaN,NaN,AVpgMuGwLJeJML43KY_c,69,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
3,NaN,NaN,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
4,NaN,NaN,AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
...,...,...,...,...,...,...,...
1241,NaN,NaN,AVphFybdLJeJML43Wnza,64.95,1110,JBL,"JBL - 6 x 9"" 3-Way Car Speakers with Polypropy..."
1242,NaN,NaN,AVpe_qIa1cnluZ0-bjrN,871.06,1002,HP,HP - ProBook 14 Laptop - Intel Core i5 - 4GB M...
1243,NaN,NaN,AVphibxI1cnluZ0-DpxG,74.95,1238,Magellan,Magellan Roadmate 5322-LM 5 Touchscreen Portab...
1244,NaN,NaN,AVpgrtW3ilAPnD_xv67M,294.35,1239,Pyle Pro,PMX840BT Bluetooth 8-Channel 800-Watt Powered ...
1245,NaN,NaN,AVpgibRDLJeJML43PTZX,129.99,1001,naxa,naxa - 2.1-Channel Soundbar with 50-Watt Digit...

In [114]:
products.to_excel('out.xlsx', sheet_name = 'Products', startrow = 2, startcol = 1)
pd.read_excel('out.xlsx')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,product_id,price,merchant_id,brand,name
2,NaN,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
3,NaN,AVpgMuGwLJeJML43KY_c,69,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
4,NaN,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
...,...,...,...,...,...,...
1242,NaN,AVphFybdLJeJML43Wnza,64.95,1110,JBL,"JBL - 6 x 9"" 3-Way Car Speakers with Polypropy..."
1243,NaN,AVpe_qIa1cnluZ0-bjrN,871.06,1002,HP,HP - ProBook 14 Laptop - Intel Core i5 - 4GB M...
1244,NaN,AVphibxI1cnluZ0-DpxG,74.95,1238,Magellan,Magellan Roadmate 5322-LM 5 Touchscreen Portab...
1245,NaN,AVpgrtW3ilAPnD_xv67M,294.35,1239,Pyle Pro,PMX840BT Bluetooth 8-Channel 800-Watt Powered ...
1246,NaN,AVpgibRDLJeJML43PTZX,129.99,1001,naxa,naxa - 2.1-Channel Soundbar with 50-Watt Digit...

In [115]:
#Saving multiple sheets...we'll need an ExcelWriter object

In [116]:
writer = pd.ExcelWriter('out.xlsx')

In [117]:
with writer:
    products.to_excel(writer, sheet_name = 'Products')

In [118]:
pd.read_excel('out.xlsx', sheet_name = 'Products').head()

,product_id,price,merchant_id,brand,name
0,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
1,AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
2,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
3,AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
4,AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...